@import "_mixins"

$black: #000000  
$gray_for_Text: #828282
$white: #ffffff
$red: #fa0000

.header
    @include flex(100%, auto ,100px)
    position: absolute
    z-index: 1
    background-color: var(--GeneralColor)
	
.inner_header
    @include flex-center(90%, auto ,auto)
    justify-content: space-between

.logo
    @include flex-center(25%, auto ,auto)
    background-color: var(--GeneralColor)   
    img
        @include size(72px, 41px ,auto)
    p
        color: $gray_for_Text
        margin-left: 20px

.social
    @include flex-center(14%, auto ,auto)
    justify-content: space-between
    p
        color: $white

.adress
    @include flex-center(15%, auto ,auto)
    p
        color: $gray_for_Text
        margin-left: 15px
.number
    @include flex-center(15%, auto ,auto)
    p
        color: $white
.container_info
    @include flex-center(100%, auto ,921px)
    flex-direction: column
    background-color: var(--GeneralColor)
.container_inner
    @include flex(90%, 650px ,auto)
    flex-direction: column
    justify-content: center
.info
    @include flex(40%, 135px ,auto)
    @include text-two(25px, white, 20px ,  auto , none , nowrap) 
    color: $red
.info_one
    @include flex(100%, auto ,170px)
    flex-direction: column
    p
        @include text-two(25px, white, 30px ,  auto , none , nowrap) 
.cource_info
    @include flex(10%, auto ,auto)
    align-self: flex-end
    transform: rotate(270deg)
.cource_btn
    @include btn(230px, 50px ,auto)
    background-color: $red   
    color: $white 
.btn_request
    @include flex(100%, auto , 100px)
    background-color: var(--GeneralColor)    
.btn_req
    @include btn(230px, 50px ,auto)
    background-color: $red
    color: $white
.navigation
    @include flex(90%, auto ,auto)  
.more
    @include flex(15%, auto,auto)
    align-items: center
    img
        @include size(50px, 50px ,auto)  
    p
        margin-left: 15px
        color: $gray_for_Text
.img_container
    @include flex(100%, auto ,auto)
    justify-content: flex-end 
.img_content
    @include flex(50%, auto ,auto)
    justify-content: space-between
    img
        @include size(240px, 180px ,auto)
.center_info
    @include flex-center(100%, auto ,220px)
    align-items: flex-end
    color: $red
.text_content
    @include flex(100%, auto ,520px)
    justify-content: space-around
    margin-top: 40px
    background-color: var(--GeneralColor)
.left_content
    @include flex(45%, auto ,auto)
    @include text-two(14px, white, 19px ,  auto , none , auto) 
    p
        flex-direction: column
    span
        color: $red
.right_content
    @include flex-center(45%, auto ,auto)
    img
        @include size(100%, 100% ,auto)
.part_more_two
    @include flex-center(100%, auto ,auto)
    margin-top: 50px
.more_five
    @include flex(90%, auto ,auto)
    align-items: center
    img
        @include size(50px, 50px ,auto)  
    p
        margin-left: 15px
        color: $gray_for_Text 
.main_info
    @include flex-center(100%, auto ,160px)
    color: $red
    align-items: flex-end
.main_more
    @include flex-center(10%, auto ,auto)
.more_one
    @include flex(20%, auto ,auto)
    align-items: center
    img
        @include size(50px, 50px ,auto)  
    p
        margin-left: 15px
        color: $gray_for_Text
.main_contact
    @include flex-center(100%, auto ,160px)
    color: $red
    align-items: flex-end
.contact_info
    @include flex(100%, auto ,auto)
    margin-top: 50px  
.left_part
    @include flex(50%, auto ,500px)
    flex-direction: column
.up_content
    @include flex(60%, auto ,180px) 
    align-items: center
    flex-direction: column
    color: $white
    h4
        align-items: flex-start
        color: $red
.down_content
    @include flex(60%, auto ,300px) 
    align-items: center
    flex-direction: column
    color: $white
    h4
        color: $red
.input_info
    width: 300px
    padding: 12px 20px
    margin: 8px 0 
    background-color: $gray_for_Text
    border: none
.app
    @include btn(230px, 50px ,auto)
    background-color: $red
    color: $white
.part_more
    @include flex-center(10%, auto ,auto)
    margin-top: 50px
.more_two
    @include flex(20%, auto ,auto)
    align-items: center
    img
        @include size(50px, 50px ,auto)  
    p
        margin-left: 15px
        color: $gray_for_Text 
.main_course
    @include flex-center(100%, auto ,160px)
    color: $red
    align-items: flex-end

#slide_two
    background-image: none   
    background-color: $black
#slide_tree
    background-image: none   
    background-color: $black
#slide_four
    background-image: none   
    background-color: $black
#slide_five
    background-image: none   
    background-color: $black
#slide_six
    background-image: none   
    background-color: $black


      
//////////Slider   
       
.slider
    max-width: 100%
    position: relative
    margin: auto
    height: 921px
    margin-bottom: 15px
    
.item 
    @include size(100%, 101.7% ,auto)
    background-image: url("../image/bg.png") 
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    -webkit-transition: none !important
    -moz-transition: none !important
    -o-transition: none !important
    transition: none !important
   

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img 
    object-fit: cover
    border: none !important
    box-shadow: none !important
    background-image: url("../image/bg.png")
 

/* Кнопки вперед и назад */
.slider .prev, .slider .next 
    cursor: pointer
    position: absolute
    top: 0
    top: 50%
    width: auto
    margin-top: -22px
    padding: 16px
    color: white
    font-weight: bold
    font-size: 18px
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    

.slider .next 
    right: 0
    border-radius: 3px 0 0 3px

/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover 
    background-color: rgba(0, 0, 0, 0.8)

/* Заголовок слайда */
.slideText 
    position: absolute
    color: #fff
    font-size: 35px
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000

/* Анимация слайдов */
.slider .item 
    -webkit-animation-name: fade
    -webkit-animation-duration: 1.5s
    animation-name: fade
    animation-duration: 1.5s

@-webkit-keyframes fade 
    from 
        opacity: .4
    to 
        opacity: 1
    
@keyframes fade 
    from 
        opacity: .4
    to 
        opacity: 1
    
/////////Slider - End



////Tabs

.btn-menu
    @include size(10%, auto ,auto)
    order: 1
    
.tabs__nav
    @include flex(auto, 150px ,auto)
    flex-direction: column
    justify-content: space-between

.tabs__nav-btn
    border: none
    outline: none
    font-style: normal
    font-weight: normal
    font-size: 1em
    line-height: 36px
    background-color: $red

.tabs__nav-btn:last-child
    border-right: none

.tabs__nav-btn:hover
    outline: none
    background-color: #ddd

.tabs__nav-btn.passive
    outline: none
    background: linear-gradient(90deg, #725E55 0%, #88563F 100%)
    color: #fff

.tabs__content
    @include flex(60%, auto ,auto)
    padding: 30px

.tabs__item
    display: none
    img
        @include size(320px, 320px ,auto)
        
.tabs__item.passive
    display: block
    
.block_tabs
    @include flex-center(100%, auto ,auto)

.inner-block-1
    @include flex(120%, 330px,auto)
    justify-content: space-between
    
.down_img
    @include flex(120%, auto ,auto)
    justify-content: space-between

.inner-block-2
    @include flex(120%, 330px,auto)
    justify-content: space-between

.down_img_two
    @include flex(120%, auto ,auto)
    justify-content: space-between      
    
.inner-block-3
    @include flex(120%, 330px,auto)
    justify-content: space-between

.down_img_tree
    @include flex(120%, auto ,auto)
    justify-content: space-between      
    
// TABS - END ==================



//////Slider_two
/* Собственно сам слайдер */
.slider_ten
    max-width: 90%
    position: relative
    margin: auto
    height: 400px
    margin-bottom: 15px

/* Картинка мастабируется по отношению к родительскому элементу */
.slider_ten .item_ten img 
    object-fit: cover
    width: 280px
    height: 280px
    border: none !important
    box-shadow: none !important


/* Кнопки вперед и назад */
.slider_ten .prev_ten, .slider_ten .next_ten
    cursor: pointer
    position: absolute
    top: 0
    top: 50%
    width: auto
    margin-top: -22px
    padding: 16px
    color: white
    font-weight: bold
    font-size: 18px
    transition: 0.6s ease
    border-radius: 0 3px 3px 0

.slider_ten .next_ten
    right: 0
    border-radius: 3px 0 0 3px

/* При наведении на кнопки добавляем фон кнопок */
.slider_ten .prev_ten:hover,
.slider_ten .next_ten:hover 
    background-color: rgba(0, 0, 0, 0.8)


/* Анимация слайдов */
.slider_ten .item_ten
    -webkit-animation-name: fade
    -webkit-animation-duration: 1.5s
    animation-name: fade
    animation-duration: 1.5s

@-webkit-keyframes fade 
    from 
        opacity: .4
    
    to 
        opacity: 1
    

@keyframes fade 
    from 
        opacity: .4
    
    to 
        opacity: 1
    
.box_ten
    min-height: 680px
    width: 100%

.item_ten
    justify-content: space-around

.image_ten_one
    @include flex-center(33%, 720px ,auto)
    flex-direction: column
    
.image_ten_info_one
    @include flex(160px, auto ,auto)
    flex-direction: column
    text-align: center
    margin-top: 40px
    h2
        color: $red
    p
        color: $white
        margin-top: 15px
    h4
        color: $red   
        margin-top: 15px
.btn_ten_more_one
    @include btn(150px, 40px ,auto)
    background-color: $red
    color: $white  
    margin-top: 15px

.image_ten_two
    @include flex-center(33%, 700px ,auto)
    flex-direction: column

.image_ten_info_two
    @include flex(160px, auto ,auto)
    flex-direction: column
    text-align: center
    margin-top: 40px
    h2
        color: $red
    p
        color: $white
        margin-top: 15px
    h4
        color: $red   
        margin-top: 15px
.btn_ten_more_two
    @include btn(150px, 40px ,auto)
    background-color: $red
    color: $white  
    margin-top: 15px

.image_ten_three
    @include flex-center(33%, 700px ,auto)
    flex-direction: column

.image_ten_info_three
    @include flex(160px, auto ,auto)
    flex-direction: column
    text-align: center
    margin-top: 40px
    h2
        color: $red
    p
        color: $white
        margin-top: 15px
    h4
        color: $red   
        margin-top: 15px
.btn_ten_more_three
    @include btn(150px, 40px ,auto)
    background-color: $red
    color: $white  
    margin-top: 15px

////////Slider two - End
    
///////popup
#zatemnenie 
    background: rgba(102, 102, 102, 0.5)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    display: none
a
    color: $white


      
#okno 
    width: 500px
    height: 350px
    text-align: center
    padding: 15px
    border: 3px solid #0000cc
    border-radius: 10px
    color: #0000cc
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    background: #fff
      
#zatemnenie:target 
    display: block

.close 
    display: inline-block
    border: 1px solid #0000cc
    color: #0000cc
    padding: 0 12px
    margin: 10px
    text-decoration: none
    background: #f2f2f2
    font-size: 14pt
    cursor: pointer
    margin-top: 70px
      
.close:hover 
    background: #e6e6ff

.send
    display: inline-block
    border: 1px solid #0000cc
    color: #0000cc
    padding: 0 12px
    margin: 10px
    text-decoration: none
    background: #f2f2f2
    font-size: 14pt
    cursor: pointer

.send:hover 
    background: #e6e6ff

.form__group 
   position: relative
   padding: 15px 0 0
   margin-top: 10px
   width: 50%

.form__field 
   font-family: inherit
   width: 100%
   border: 0
   border-bottom: 2px solid #9b9b9b
   outline: 0
   font-size: 1.3rem
   color: $gray_for_Text
   padding: 7px 0
   background: transparent
   transition: border-color 0.2s

.form__field::placeholder 
   color: transparent

.form__field:placeholder-shown ~ .form__label 
   font-size: 1.3rem
   cursor: text
   top: 20px


.form__label 
   position: absolute
   top: 0
   display: block
   transition: 0.2s
   font-size: 1rem
   color: #9b9b9b


.form__field:focus 
   padding-bottom: 6px
   font-weight: 700
   border-width: 3px
   border-image: linear-gradient(to right, #11998e, #38ef7d)
   border-image-slice: 1

.form__field:focus ~ .form__label 
   position: absolute
   top: 0
   display: block
   transition: 0.2s
   font-size: 1rem
   color: #11998e
   font-weight: 700


.form__field:required, .form__field:invalid 
   box-shadow: none

/////popup - End



//// burger
    
#menu__toggle 
  opacity: 0

/* стилизуем кнопку */
.menu__btn 
   display: flex 
   position: fixed
   top: 20px
   width: 26px
   height: 26px
   cursor: pointer
   z-index: 1
   align-items: flex-end

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after 
  display: block
  position: absolute
  width: 100%
  height: 2px
  background-color: $red
.menu__btn > span::before 
  content: ''
  top: -8px

.menu__btn > span::after 
  content: ''
  top: 8px

/* контейнер меню */
.menu__box 
  display: block
  position: fixed
  visibility: hidden
  top: 0
  left: -100%
  width: 300px
  height: 100%
  margin: 0
  padding: 80px 0
  list-style: none
  text-align: center
  background-color: $gray_for_Text
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)

/* элементы меню */
.menu__item 
  display: block
  padding: 12px 24px
  color: #333
  font-family: 'Roboto', sans-serif
  font-size: 20px
  font-weight: 600
  text-decoration: none

.menu__item:hover 
  background-color: #CFD8DC

#menu__toggle:checked ~ .menu__btn > span 
  transform: rotate(45deg)

#menu__toggle:checked ~ .menu__btn > span::before 
  top: 0
  transform: rotate(0)

#menu__toggle:checked ~ .menu__btn > span::after 
  top: 0
  transform: rotate(90deg)

#menu__toggle:checked ~ .menu__box 
  visibility: visible
  left: 0

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after 
  transition-duration: .25s

.menu__box 
  transition-duration: .25s

.menu__item 
  transition-duration: .25s

.hamburger-menu
    display: none
////burger - End